* {
	margin: 0;
}

body {
	background-color: black;
	color: white;
	text-align: center;
	font-family: sans-serif;
}

#headline {
	margin: 0;
	line-height: 100vh;
	font-size: 5rem;
}

span {
	opacity: 0;
	transition: all 2s ease;
	/* transition: all 1s ease; */
}

span.fade {
	opacity: 1;
	color: rgb(164, 71, 142);
}